* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

body {
  background: linear-gradient(180deg, #E5FFFC 0%, #FFE0E0 100%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

header nav .nav-item1 a:hover {
  color: white;
  background-color: #ffb0b0;
  border-radius: 200px; }

main h1 {
  padding: 20px; }

main .contenedor {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 60px 0;
  display: flex; }

main .contenedor-cards {
  width: 100%;
  display: flex;
  gap: 150px;
  margin: 0 auto; }

main .loginformulario {
  margin: auto;
  width: 50%;
  padding-bottom: 100px;
  padding-top: 100px; }

main .contenedor4 {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center; }

main .contenedor-cards4 {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 160px;
  justify-content: center;
  align-content: center; }

main .card {
  width: 16%; }

main .contenedor5 {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center; }

aside {
  width: 50%;
  opacity: .8;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFE0E0;
  border-radius: 50px; }
  aside .titulo_aside {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    padding: 1rem; }
  aside .adicional {
    margin: 20px;
    font-size: 1.1rem;
    line-height: 1.8rem; }
  aside img {
    width: 33%; }
  aside .adicional2 {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }

footer {
  background-color: #FFB341;
  padding: 80px 0; }
  footer .contenedor1 {
    max-width: 1200px;
    margin: 0 auto; }
    footer .contenedor1 .footer-row {
      display: flex;
      flex-wrap: wrap; }
    footer .contenedor1 .footer-links {
      width: 25%;
      padding: 0 15px; }
    footer .contenedor1 .footer-links h4 {
      font-size: 20px;
      color: white;
      margin-bottom: 25px;
      font-weight: 500;
      border-bottom: 2px solid #dffff9;
      padding-bottom: 10px;
      display: inline-block; }
    footer .contenedor1 .footer-links ul li a {
      font-size: 18px; }
    footer .contenedor1 .instagram {
      width: 30px; }
    footer .contenedor1 .facebook {
      width: 30px; }

.colorMenu {
  background-color: #c9fff5; }

.contenedor2 {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .contenedor2 .main1 {
    width: 50%;
    padding-bottom: 30px; }
  .contenedor2 .main2 {
    padding: 100px;
    opacity: .9;
    border-radius: 50px;
    gap: 150px; }
  .contenedor2 .main2 .principal img {
    width: 100%; }

h1 {
  padding: 20px; }

li a {
  text-decoration: none;
  color: white; }

li a:hover {
  color: white;
  background-color: #ffb0b0;
  border-radius: 20px; }

.btn-outline-secondary {
  background-color: #ffdbdb; }

.btn-info {
  background-color: #dffff9;
  color: black;
  outline-color: black; }

@media (max-width: 480px) {
  .footer-row {
    text-align: center; }
  .footer-links {
    width: 100%;
    margin-bottom: 30px; }
  .contenedor2 {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .main1 {
    width: 100%;
    padding-bottom: 30px; }
  .main2 {
    padding: 100px;
    opacity: .9;
    border-radius: 30px;
    background-color: aquamarine; }
  aside {
    width: 100%;
    opacity: .8;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFE0E0;
    border-radius: 50px; }
  .contenedor {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
  .contenedor-cards {
    width: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
  .mapa {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
  .loginformulario {
    margin: auto;
    width: 80%; }
  .contenedor4 {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr;
    justify-content: center;
    align-content: center; }
  .contenedor-cards4 {
    margin: auto;
    display: grid;
    grid-template-columns: 3fr;
    gap: 160px;
    justify-content: center;
    align-content: center; }
  .contenedor5 {
    display: flex;
    justify-content: start;
    width: 100%;
    margin: auto;
    gap: 50px; } }
