@import "var";
@import "body";
@import "header";
@import "main";
@import "aside";
@import "footer";

.colorMenu{
    background-color: rgba(201, 255, 245, 1);
}
.contenedor2{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .main1{
        width: 50%;
        padding-bottom: 30px;
    }
    .main2{
        padding: 100px;
        opacity: .9;
        border-radius: 50px;
        gap: 150px;
    }
    .main2 .principal img{
        width: 100%;
    }
}
h1{
    padding: 20px;
}

li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
li a:hover{
    color: white;
    background-color:rgba(255, 176, 176, 1);
    border-radius: 20px;
}
.btn-outline-secondary{
    background-color:rgba(255, 219, 219, 1) ;
}
.btn-info{
    background-color: rgba(223, 255, 249, 1);
    color: black;
    outline-color: black;
}

@media (max-width:480px){
        footer-row{
            text-align: center;
        }
        footer-links{
            width: 100%;
            margin-bottom: 30px;
        }
        .contenedor2{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        .main2{
            width: 200%; 
        }
        .main2 .principal img{
            width: 200%;
        }
        aside{
            width: 100%;
            opacity: .8;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            background-color: #FFE0E0;
            border-radius: 50px;
        }
        main .contenedor{
            width: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
    
        }
    
        main .contenedor-cards{
            width: 80%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }
        main .mapa{
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
    
        }
        main .loginformulario{
            margin: auto;
            width: 80%;
        }
        main .contenedor4{
            max-width: 1200px;
            margin: auto;
            display: grid;
            grid-template-columns: 3fr;
            justify-content: center;
            align-content: center;
        }
        main .contenedor-cards4{
            margin: auto;
            display: grid;
            grid-template-columns: 3fr;
            gap: 160px;
            justify-content: center;
            align-content: center;
        }
    
        main .contenedor5{
            display: flex;
            justify-content: start;
            width: 100%;
            margin: auto;
            gap: 50px;
        }
        footer .contenedor1{
        max-width: 1200px;
        margin: 0 auto; }
        footer  .footer-links ul li a{
            font-size: 18px;  
        }
        footer .instagram{
            width: 30px;
        }
        footer .facebook{
            width: 30px;
        }
    }